<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="psexecasync" type="PsExecAsync.PsExecAsyncSection, PsExecAsync"/>
  </configSections>
  <appSettings>
    <add key="psexec" value="%USERPROFILE%\Downloads\PSTools\PsExec.exe"/>
    <add key="arguments" value="wmic bios get serialnumber"/>
  </appSettings>
  <psexecasync>
    <computers>
      <add EndPoint="DEV10x64" ExitCode="1"/>
    </computers>
  </psexecasync>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.5" version="v4.0"/>
  </startup>
</configuration>